alpha-vantage==2.1.0
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
idna==2.8
kiwisolver==1.1.0
matplotlib==3.0.3
numpy==1.22.0
pandas==0.24.2
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
django-filter==2.1.0
six==1.12.0
urllib3==1.24.3
boto3==1.9.143
aws-sam-cli==0.15.0
Django==2.0.13
wagtail==2.4
psycopg2-binary==2.7.5
django-environ==0.4.4
djangorestframework==3.9.4
elasticsearch==5.5.2
django-extensions==2.0.0
wagtailstreamforms==3.5
wagtailmenus==2.13
wagtail-condensedinlinepanel==0.5.2
git+https://github.com/Telstra/MessagingAPI-SDK-python.git
redis==2.10.6
uWSGI==2.0.12
ipython==7.5.0
git+https://github.com/lorne-luo/django-autocode.git
django-rosetta==0.9.3