{% extends 'base.html' %}
{% load static %}
{% block title %} ASX Hawkeye @ {{ week }}{% endblock %}

{% block content %}

    <div class="action-panel">
        <div class="action-panel__buttons">

        </div>
        <div class="action-panel__filters">

            <span class="action-panel__filters-wrapper">
                <label for="week_filter">Week:</label>
                <select id="week_filter" class="select_link">
                    {% for w in all_weeks %}
                        <option value="{% url 'recommendation:recommendation_list' w %}"
                                {% if week == w %}selected="true" {% endif %}>{{ w }}</option>
                    {% endfor %}
                </select>
            </span>
        </div>
    </div>

    <table>
        <tr>
            <th class="sm-col">Code</th>
            {#            <th class="sm-col">Name</th>#}
            {#            <th class="sm-col">Industry</th>#}
            <th class="sm-col">Price</th>
            <th class="sm-col">Return</th>
            <th class="sm-col">Risk 99%</th>
            <th class="sm-col">Volume Rank</th>
            <th class="sm-col">Return Rank</th>
            <th class="sm-col">Risk Rank</th>
            <th class="sm-col">Rank</th>
            <th class="sm-col">Charts</th>
        </tr>
        {% for recommendation in object_list %}
            <tr>
                <td>{{ recommendation.prediction.code }}</td>
                {#                <td>{{ recommendation.prediction.company.name }}</td>#}
                {#                <td>{{ recommendation.prediction.company.industry_name }}</td>#}
                <td>{{ recommendation.prediction.current_price }}</td>
                <td>{{ recommendation.prediction.sim_return }}</td>
                <td>{{ recommendation.prediction.var_99_percent }}</td>
                <td>{{ recommendation.prediction.volume_rank }}</td>
                <td>{{ recommendation.prediction.return_rank }}</td>
                <td>{{ recommendation.prediction.risk_rank }}</td>
                <td>
                    <a href="{% url 'prediction:rank_trend_image' recommendation.code %}">
                        {{ recommendation.rank }}
                    </a>
                </td>
                <td>
                    <a href="{{ recommendation.prediction.sim_pic_url }}">Sim</a>
                    <a href="{{ recommendation.prediction.line_pic_url }}">Line</a>
                    {% if recommendation.prediction.future_pic_url %}
                        <a href="{{ recommendation.prediction.future_pic_url }}">Future</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if avg_week_return %}
            <tfoot>
            {% if avg_month_return %}
                <td colspan="3"></td>
                <th colspan="3">Future Avg. Month Return: {{ avg_month_return }}</th>
            {% else %}
                <td colspan="6"></td>
            {% endif %}

            <th colspan="3">Future Avg. Week Return: {{ avg_week_return }}</th>
            </tfoot>
        {% endif %}
    </table>

    {% include 'includes/paginator.html' with week=week %}
{% endblock %}

