{% extends 'base.html' %}
{% load static %}
{% block title %} Accounts{% endblock %}

{% block content %}

<div class="action-panel">
    <div class="action-panel__buttons">
    </div>
    <div class="action-panel__filters">
        <span class="action-panel__filters-wrapper">
            <label for="status_filter">Filter Status:</label>
            <select id="status_filter" class="select_link">
                <option value="is_archived=">All</option>
                <option value="is_archived=False" {% ifequal False is_archived %}selected{% endifequal %}>Active</option>
                <option value="is_archived=True" {% ifequal True is_archived %}selected{% endifequal %}>Inactive</option>
            </select>
        </span>
        <span class="action-panel__filters-wrapper">
            <label for="week_filter">Week:</label>{{ week }}
            <select id="week_filter" class="select_link">
                {% for w in all_weeks %}
                    <option value="week={{ w }}" {% if week == w %}selected="true" {% endif %}>{{ w }}</option>
                {% endfor %}
            </select>
        </span>
    </div>
</div>


<table>
    <tr>
        <th class="sm-col">Code</th>
        <th class="sm-col">Name</th>
        <th class="sm-col">Industry</th>
        <th class="sm-col">Price</th>
        <th class="sm-col">Return</th>
        <th class="sm-col">Risk</th>
        <th class="sm-col">Return Rank</th>
        <th class="sm-col">Risk Rank</th>
        <th class="sm-col">Rank</th>
    </tr>
    {% for recommendation in object_list %}
    <tr>
        <td>{{ recommendation.code.code }}</td>
        <td>{{ recommendation.code.company.name }}</td>
        <td>{{ recommendation.code.company.industry_name }}</td>
        <td>{{ recommendation.code.current_price }}</td>
        <td>{{ recommendation.code.sim_return }}</td>
        <td>{{ recommendation.code.var_99_percent }}</td>
        <td>{{ recommendation.code.return_rank }}</td>
        <td>{{ recommendation.code.risk_rank }}</td>
        <td>{{ recommendation.rank }}</td>
    </tr>
    {% endfor %}
</table>

{% include 'includes/paginator.html' %}
{% endblock %}

