/*
==========================================================================
   #Recommend Page
========================================================================== */

.recommend_content {
    font-size: 14px;

    table {
        table-layout: auto;

        th,
        td {
            padding: 8px 2px;
            text-align: center;
        }
    }
}
